<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>This is the developer access page</h2>
<ul>
  <li><a href="/cloudinary/statistics">Get statistics</a></li>
  <li><a href="/cloudinary/csv">Get info in csv format</a></li>
  <li><a href="/auth/logout">Logout</a></li>
</ul>